body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Karla', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  
  max-width: 800px;box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;

}

main {
  background-color: #F5F5F5;
  height: 400px;
  max-width: 800px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.dice-container{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}
.die-face{
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.die-num{
  font-size: 2rem;
}

.roll-btn{
  width: 100px;
  height: 50px;
  background-color: #5035FF;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin: 20px;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif; 
}

.roll-btn:focus{
  outline: none;
}

.roll-btn:active{
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}